.card{
  border: 1px solid black;
  width: 250px;
  height: 350px;

  display: flex;
  flex-direction: column;
  background-color: #232323;
  border-radius: 10px;
  align-items: center;
}
.card input {
  width: 90%;
  border-radius: 4px;
}

.card__title {
  margin-left: auto;
  margin-right: auto;
}

.card > .card__title > h3 {
  text-transform: capitalize;
  color: white;
}

.card__body{
  background-color: #616161;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}
.card__body > img {
  justify-content: center;
  width: 100%;
}

.card__stats {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__stats__type {
  color: rgb(0,0,0);
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  margin-right: 4px;
  border-radius: 5px;
  text-transform: capitalize;
}

.card__stats__type:hover {
  cursor: pointer;
  background-color: rgb(0,0,0);
  color:coral;
}

.card__stats__type:active {
  scale: 0.85;
  user-select: none;
}
